<template>
  <div id="app">
    <div id="sidebar">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <router-link to="/stores" class="navbar-brand">HrubGub</router-link>
      <router-link to="/Checkout" class="nav-item" style="margin-left:10px">Checkout</router-link>
      <router-link to="/AddStore" class="nav-item" style="margin-left:10px">AddStore</router-link>

    </nav>
    <router-view/>
  </div>
</template>

<script>
import stores from './components/Stores.vue'

export default {
  name: 'App',
  conponents: {
    stores
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /*color: #2c3e50;*/
  /*margin-top: 60px;*/
}
</style>
