<!-- Add a new store to order from -->
<template>
  <div id="checkout" class = "container">
    <br />
    <h2>Add New Store:</h2>
    <br />
    <div id = "store_form">
      <div class = "form-group">
        <label for = "store_name"> Store Name: </label>
        <input ref = "store_name" type = "text" class = "form-control" required/>
      </div>
      <div class = "form-group">
        <label for = "address"> Store Address: </label>
        <input ref = "store_address" type = "text" class = "form-control" placeholder="Baltimore Ave" required/>
      </div>
      <div class = "form-group">
        <label for = "store_name"> Store Description: </label>
        <input ref = "store_description" type = "text" class = "form-control" placeholder="We sell things" required/>
      </div>
      <div class="form-group">
        <input class="btn btn-secondary" ref="image_link" type="file">
      </div>
      <div class = "form-group">
        <label for = "store_name"> Store Items: </label>
        <button class="btn btn-secondary" style="margin:10px" v-on:click="addItem">+</button>
        <ul class="list-group" v-for="i in items" :key="i.infor">
          <li class="row list-group-item d-flex justify-content-between align-items-center" style="margin:10px">
            <div class="col-md-6">
              <label>Item Name: </label>
              <input :ref="i+'name'"  class="col-sm form-control" type="text" placeholder="Name"/>
            </div>
            <div class="col-md-6">
              <label>Cost: </label>
              <input :ref="i+'cost'" class="col-sm form-control" type="number" min="0" />
            </div>
          </li>
        </ul>
      </div>
      <div>
        <input class="btn btn-primary btn-block" id = "submit" type = "submit" value = "Add Store" v-on:click="addStore">
      </div>
    </div>
  </div>
</template>

<!-- Vue/Server Request Section -->
<script>
import Api from '@/services/Api'
export default {
    // Component Variable Init
    name: 'addStore',
    data () {
        return {
          items: []
        }
    },

    // Page Loaded Events
    mounted () {

    },

    // Private Functions
    methods: {
      addItem() {
        this.items.push(this.items.length)
      },
      getImage(cb) {
        let fileInput = this.$refs.image_link

        var reader = new FileReader()
        reader.onload = () => {
          let str = reader.result
          cb(str)
        }
        reader.readAsDataURL(fileInput.files[0])
      },
      getItems() {
        let result = []
        for (let i=0;i < this.items.length; i++) {
          result.push({
            id: this.$refs[i+"name"][0].value.replace(/\s/g, ""),
            name: this.$refs[i+"name"][0].value,
            cost: parseFloat(this.$refs[i+"cost"][0].value),
            description: ""
          })
        }
        return result
      },
      addStore () {
        let store = {
            name: this.$refs.store_name.value,
            id: this.$refs.store_name.value.replace(/\s/g, ""),
            address: this.$refs.store_address.value,
            description: this.$refs.store_description.value,
            items: this.getItems()
        }
        this.getImage(image => {
          store.image = image
          console.log(store)
          Api.addStore(this, store, (isSuccessful) => {
              if (isSuccessful)
                  alert("New Store Added")
                  //document.getElementById("store_form").reset();
          })
        })
        
      },
    }
}
</script>
