<!-- Gets all items in the current store -->
<template>
    <div id="checkout">
        <div v-if="isSubmitted">
            <h1>Your Order is Submitted!</h1>
        </div>
        <div v-if="!isSubmitted">
            <h1> Your Cart: </h1>
            <table class="table table-striped table-info">
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                </tr>
                <!-- <button onclick="addToCart({{item}})"/> -->
                <tr v-for="item in cart" :key="item.info" class="table-success">
                    <td>{{item.item}}</td>
                    <td>{{item.cost}}</td>
                    <td>{{item.count}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="text-align:center"><h5 class="card-text">Total: <span class="badge badge-pill badge-secondary">${{total}}</span></h5></td>
                </tr>
            </table>
            
            <form action="processed.php" method="get">
                <h3> Shipping Information </h3>
                <strong> Street Address: </strong> <input type="text" ref="address" name="address" /> <br /> <br />
                <strong> City: </strong> <input type="text" ref="city" name="city" /> <br /> <br />
                <strong> State:</strong> <input type="text" ref="state" name="state" /> <br /> <br />
                <h3> Billing Infomation </h3>
                <strong> Card Number: </strong> <input type="text" ref="cardnumber" name="cardnumber" /> <br /> <br />
                <strong> Security Code: </strong> <input type="text" ref="security" name="security" value="000" /> <br /> <br />
                <strong> Name On Card: </strong> <input type="text" ref="name" name="name" /> <br /> <br />
                <strong> Telephone Number: </strong> <input type="text" ref="phone" name="phone" value="1234567890" /> <br /> <br />
                <input class ="btn btn-block btn-secondary" type="reset" /> <br /> <br />
            </form>
            <input class="btn btn-block btn-primary" type="submit" id="submit" name="submit" value="Submit" v-on:click="validate()" /> <br /> <br />
        </div>
    </div>
</template>
<!-- Vue/Server Request Section -->
<script>
import Api from '@/services/Api'
export default {
    // Component Variable Init
    name: 'checkout',
    data () {
        return {
            cart: [],
            total: 0,
            isSubmitted: false
            
        }
    },
    // Page Loaded Events
    mounted () {
        this.getCart()
    },
    // Private Functions
    methods: {
        addToCart (item) {
            Api.cartItem(this, item, 1, () => {
                console.log("yayy!!!");
            })
        },
        async getCart () {
            const response = await Api.fetchCart();
            console.log(response.data);
            this.cart = response.data;
            this.getTotal()
        },
        
        getTotal () {
            let total = 0;
            this.cart.forEach(item=> {
                total += item.cost * parseInt(item.count)
            })
            this.total = total
        },

        async validate() {
            var cardNumber = this.$refs.cardnumber.value;
            var security = this.$refs.security.value;
            var phone = this.$refs.phone.value;
            
            var invalidMessage = "";
            if (String(parseInt(cardNumber)) != cardNumber) {
                invalidMessage += "Invalid card number.";
                alert(invalidMessage);
            } else if (String(parseInt(security)) != security || security.length != 3) {
                invalidMessage += "Invalid security code.";
                alert(invalidMessage);
            } else if (String(parseInt(phone)) != phone || phone.length != 10) {
                invalidMessage += "Invalid phone number.";
                alert(invalidMessage);
            } else {
                var submission = "Are you sure this information is correct?";
                window.confirm(submission);
                const res = await Api.checkout()
                this.isSubmitted = true;
            }
        }
    }
}
</script>