<!-- Gets all items in the current store -->
<template>
    <div id="login" class="container" >
        <h1 style="margin-top:25px">Login</h1>
        <br/>
        <form>
            <div class="form-group">
                <label for="username">Email address</label>
                <input @input="updateUser" type="text" class="form-control" ref="username" id="username" placeholder="Enter Username">
                <small id="emailHelp" class="form-text text-muted">Use of Email is recommended</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input @input="updatePass" type="password" class="form-control" ref="password" id="password" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check">
                <label class="form-check-label" ref="check" for="check">Remember Me</label>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary btn-block" v-on:click="tryLogin">Submit</button>
        </form>
        <div>
            <small class="text-muted">{{response}}</small>
        </div>
    </div>
</template>

<!-- Vue/Server Request Section -->
<script>
/* es-lint disable */
import Api from '@/services/Api'
export default {
    // Component Variable Init
    name: 'login',
    data () {
        return {
            response: '',
            user: '',
            pass: ''
        }
    },

    // Page Loaded Events
    mounted () {
        
    },

    // Private Functions
    methods: {
        updateUser(v) {
            this.user = v
        },
        updatePass(v) {
            this.pass = v
        },
        async tryLogin () {
            Api.tryLogin(this, this.$refs.username.value, this.$refs.password.value, response => {
                this.response = response;
            });
        }
    }
}
/* es-lint enable */
</script>
