<!-- Gets all items in the current store -->



<template>
<div class="container">
    <div id="stores">
        <br><div style="text-align:center; margin:20px">
            <h1 > {{ store.name }}</h1>
            <p class="text-muted"><em>{{store.description}}</em></p>
        </div>
        <div class="card-deck">
            <div v-for="item in store.items" :key="item.info">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-text">{{item.name}}</h2>
                        <h5 class="card-text"><span class="badge badge-pill badge-secondary">$ {{item.cost}}</span></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <button class="btn btn-primary" v-on:click="addToCart(item.name, item.cost)" style="margin-right:1rem">Add To Cart</button>
                            <input type="number" class="number" :ref="item.name + 'cnt'" min="1" max="100" value="1" style="text-align:right;width:3rem"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<!-- Vue/Server Request Section -->
<script>
import Api from '@/services/Api'
export default {
    // Component Variable Init
    name: 'store',
    data () {
        return {
            store: {}
        }
    },

    // Page Loaded Events
    mounted () {
        this.getStore()
        
    },

    // Private Functions
    methods: {
        addToCart (item, cost) {
            let count = parseInt(this.$refs[item+"cnt"][0].value)
            console.log(count)
            Api.cartItem(this, item, count, cost, () => {})
        },
        async getStore () {
            const response = await Api.fetchStore(this.$route.params.id)
            this.store = response.data
        }
    }
}
</script>
