<!-- Gets all items in the current store -->
<template>

<div class="container" id="stores">
    <div class="row card-deck mx-auto" v-for="store in stores" :key="store.info" style="max-width: 20rem; margin: 20px">
        <div class="col-sm card" >
            <img class="card-img-top" v-bind:src="store.image" style="margin-top:15px;">
            <div class="card-body">
                <h5 class="card-title"><router-link v-bind:to="'/store/'+store.id">{{ store.name }}</router-link></h5>
                <p class="card-text">{{store.description}}</p>
                <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small>Located At: <em>{{store.address}}</em></small></li>
            </ul>
        </div>
    </div>
</div>

</template>


<!-- Vue/Server Request Section -->
<script>
import Api from '@/services/Api'
export default {
    // Component Variable Init
    name: 'stores',
    data () {
        return {
            stores: []
        }
    },

    // Page Loaded Events
    mounted () {
        this.getStores()
    },

    // Private Functions
    methods: {
        async getStores () {
            const response = await Api.fetchStores();
            this.stores = response.data
        }
    }
}
</script>
